<div data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
      class="fixed left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
      <div class="top-1/4 relative w-full h-full max-w-2xl md:h-auto mx-auto ">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="mx-auto text-xl font-semibold text-gray-900 dark:text-white">
                              RENOVAR CREDENCIAL
                        </h3>
                        <button type="button" (click)="cerrar()"
                              class="top-0 right-0 px-2 absolute text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                              data-modal-hide="modal_credencial">
                              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                              </svg>
                        </button>
                  </div>
                  <form>
                        <div class="antialiased text-gray-900 px-8 ">
                              <div class="max-w-wl mx-auto pb-8 md:max-w-5xl borde">
                                    <p class="mt-4 text-lg text-gray-300">Por favor, ingrese los datos solicitados:</p>
                                    <div class="mt-4 grid grid-cols-1 md:grid-cols-1 gap-6 items-start">
                                          <div class="grid grid-cols-1">
                                                <div class="mb-6">

                                                      <input type="text"
                                                            class="block rounded-lg p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-100 border-l-2 
                                                                  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
                                                                  dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                            name="tipo" placeholder={{credencial.tipo}} [(ngModel)]="credencial.tipo" disabled>
                                                </div>
                                                <div class="mb-6">
                                                      <input type="text"
                                                            class="block rounded-lg p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-100 border-l-2 
                                                                  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
                                                                  dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                            name="numero" placeholder={{credencial.numero}} [(ngModel)]="credencial.numero" [disabled]="boolFormRenovar">
                                                </div>
                                                <div class="mb-6">
                                                      <input type="text"
                                                            class="block rounded-lg p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-100 border-l-2 
                                                                  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
                                                                  dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                            name="empleado_rut" placeholder={{credencial.empleado_rut}} [(ngModel)]="credencial.empleado_rut" disabled>
                                                </div>
                                                <div class="mb-6">
                                                      <input type="date"
                                                            class="block rounded-lg p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-100 border-l-2 
                                                                  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
                                                                  dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                            name="fecha_emision" placeholder={{credencial.fecha_emision}} [(ngModel)]="credencial.fecha_emision" [disabled]="boolFormRenovar">
                                                </div>
                                                <div class="mb-6">
                                                      <input type="date"
                                                            class="block rounded-lg p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-100 border-l-2 
                                                                  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
                                                                  dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                                                            name="fecha_vencimiento" placeholder={{credencial.fecha_vencimiento}} [(ngModel)]="credencial.fecha_vencimiento" [disabled]="boolFormRenovar">
                                                </div>
                                                <button (click)="editar()"
                                                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> 
                                                      Editar xD
                                                </button>

                                                <p>
                                                <div class="flex gap-6 mx-auto">
                                                      <button type="submit" (click)="renovar()"
                                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                            renovar
                                                      </button>
                                                      <button data-modal-hide="staticModal" type="button"
                                                            (click)="cerrar()"
                                                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                                            Cancelar
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>