.carousel {
      width: 100%;
      overflow: hidden;
}

.carousel-container {
      display: flex;
      transition: transform 0.3s ease;
}

.carousel-item {
      flex: 0 0 100%;
      /* Estilos adicionales para cada elemento del carrusel */
}

.carousel-prev,
.carousel-next {
      /* Estilos para los botones de navegación */
      padding: 3px;
}