<div class="fixed top-0 left-0 flex items-center justify-center w-full h-full">
    <div class="relative h-auto w-auto">
        <div class="relative rounded-lg bg-white">
            <div class="p-4 rounded-t m-10">
                <div class="grid grid-cols 2">
                    <div class="col-span-2 flex justify-center">
                        <span class="text-xl font-semibold">GENERAR PLANIFICACIÓN</span>
                    </div>
                </div>
                <button type="button" 
                    class="bg-red-500 top-0 right-0 rounded-tr-lg absolute p-2 hover:bg-red-600"
                    (click)="Cerrar()">
                    <svg class="w-5 h-5 fill-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                <form (ngSubmit)="GenerarPlanificacion()" class="text-gray-900 px-8">
                    <div class="grid grid-cols-2 gap-4 mt-5">
                        <div class="col-span-1 gap-y-10">
                            <div class="flex flex-col my-2">
                                <label>Ingrese el año</label>
                                <input type="text" minlength="4" maxlength="4" autocomplete="off" placeholder='{{anioActual}}' required />
                            </div>
                            <div class="flex flex-col my-2">
                                <label>Ingrese el mes</label>
                                <input type="text" minlength="2" maxlength="2" autocomplete="off" placeholder="{{mesActual}}">
                            </div>
                            <div class="flex flex-col my-2">
                                <label>Ingrese el comodín</label>
                                <select [(ngModel)]="comodin" (ngModelChange)="AgregarComodin()" name="comodin">
                                    <ng-container *ngIf="listaEmpleados?.length === 0">
                                        <option value="" disabled selected>No hay empleados disponibles
                                        </option>
                                    </ng-container>
                                    <ng-container *ngIf="listaEmpleados?.length > 0">
                                        <option value="" disabled selected>Escoge un empleado</option>
                                    </ng-container>
                                    <ng-container *ngFor="let empleado of listaEmpleados">
                                        <option [value]="empleado.rut">{{empleado.nombre_paterno}}
                                            {{empleado.apellido_paterno}}</option>
                                    </ng-container>
                                </select>

                                <ng-container *ngIf="comodinSeleccionado != null">
                                    <div class="flex justify-between mx-2 border border-black my-2">
                                        <div class="text-black p-2">
                                            {{comodinSeleccionado.nombre_paterno}} {{comodinSeleccionado.apellido_paterno}}
                                        </div>
                                        <button type="button" (click)="EliminarComodin(comodinSeleccionado)" class="p-1 m-1 bg-red-500 ">
                                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                        <div class="col-span-1">
                            <div class="flex flex-col my-2">
                                <label>Ingrese los empleados (mínimo 5)</label>
                                <select [(ngModel)]="ngEmpleado" (ngModelChange)="AgregarEmpleado()" name="empleado">
                                    <ng-container *ngIf="listaEmpleados?.length === 0">
                                        <option value="" disabled selected>No hay empleados disponibles
                                        </option>
                                    </ng-container>
                                    <ng-container *ngIf="listaEmpleados?.length > 0">
                                        <option value="" disabled selected>Escoge un empleado</option>
                                    </ng-container>
                                    <ng-container *ngFor="let empleado of listaEmpleados">
                                        <option [value]="empleado.rut">{{empleado.nombre_paterno}}
                                            {{empleado.apellido_paterno}}</option>
                                    </ng-container>
                                </select>
                                
                                <div class="flex flex-col justify-center gap-y-2 my-2">
                                    <ng-container *ngFor="let empleado of empleadoSeleccionado">
                                        <div class="flex justify-between mx-2 border border-black">
                                            <div class="text-black p-2">
                                                {{empleado.nombre_paterno}} {{empleado.apellido_paterno}}
                                            </div>
                                            <button type="button" (click)="EliminarEmpleado(empleado)" class="p-1 m-1 bg-red-500 ">
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit">
                            Generar Planificación
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>