
<form (ngSubmit)="enviarDatosJSON()" #itinerarioForm="ngForm">
  <div class="antialiased text-gray-900 px-6">
    <div class="max-w-wl mx-auto py-12 md:max-w-2xl"> <!-- md:max-w-6xl mueve de izq a der -->
      <h2 class="text-2xl font-sans">Generador de horario</h2>
      <p class="mt-2 text-lg text-gray-500">Por favor, ingrese los datos solicitados:</p>
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6 items-start">
        <div class="grid grid-cols-1 gap-6">

          <label class="block">
            <span class="text-gray-700">Ingrese el año</span>
            <input type="text" placeholder="2022" name="anio" #anio="ngModel" [(ngModel)]="tiempo.anio"
            class="form-input mt-1 block w-full rounded-md">
            <span class="text-rose-500" *ngIf="anio && anio.valid && anio.touched">Este campo es requerido.</span>
          </label>
          

          <label class="block">
            <span class="text-gray-700">Ingrese el mes</span>
            <input type="number" placeholder="11" name="mes" #mes="ngModel" [(ngModel)]="tiempo.mes"
            class="form-input mt-1 block w-full rounded-md">
            <span class="text-rose-500" *ngIf="mes && mes.valid && mes.touched">Este campo es requerido.</span>

          </label>

          <label class="block">
            <span class="text-gray-700">Empleados</span>
            <input type="text" *ngFor = "let empleado of tiempo.empleados; let i = index"
            name="nombre_{{i}}" #mes="ngModel" [(ngModel)]="tiempo.empleados[i].nombre"
            class="form-input mt-1 block w-full disabled:bg-slate-100 rounded-md"
            disabled>
          </label>

        </div>

        <div class="grid grid-cols-1 gap-6">

            <label class="block">
              <span class="text-gray-700" for="dia">Seleccione el día del choque de horario</span>
              <input type="number" min="1" max="31" id="dia" name="dia" [(ngModel)]="tiempo.itinerario[0].dia"
              placeholder="25" class="form-input mt-1 block w-full rounded-md"
              >
              
          </label>

          <label class="block">
            <span class="text-gray-700">Empleados que se necesita para ese turno</span>
            <input type="number"
            placeholder="2"
            [(ngModel)]="tiempo.itinerario[0].aviones"
            #aviones="ngModel"
            name="aviones"
            id="aviones"
            class="form-input mt-1 block w-full disabled:bg-slate-100 rounded-md"
            >
            <span class="text-rose-500" *ngIf="turno_choque_aviones && turno_choque_aviones.valid && turno_choque_aviones.touched">Este campo es requerido.</span>
          </label>

          <fieldset>
            <legend class="text-gray-700">Seleccione el turno donde hay choque</legend>
            <div>
              <label class="inline-flex items-center">
                <input [(ngModel)]="tiempo.itinerario[0].turno"
                class="form-radio" type="radio" checked name="radio-direct" value="1">
                <span class="ml-2">07:00 a 15:00 hrs</span>
              </label>
            </div>
            <div>
              <label class="inline-flex items-center">
                <input [(ngModel)]="tiempo.itinerario[0].turno"
                class="form-radio" type="radio" checked name="radio-direct" value="2">
                <span class="ml-2">15:00 a 23:00 hrs</span>
              </label>
            </div>
            <div>
              <label class="inline-flex items-center">
                <input [(ngModel)]="tiempo.itinerario[0].turno"
                class="form-radio" type="radio" checked name="radio-direct" value="3">
                <span class="ml-2">23:00 a 07:00 hrs</span>
              </label>
            </div>
          </fieldset>

          <button class="bg-green-400 text-white py-2 px-4 rounded"
            type="button"
            (click)="agregarChoque()">
            Agregar Itinerario 
          </button>
          

          <input type="submit" value="Enviar itinerario" class="bg-blue-500 text-white py-2 px-4 rounded ">
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <span> Tiempo </span>
<pre>{{tiempo | json }}</pre>

 <span>Persona</span>
<pre> {{ persona | json }} </pre> -->