<div data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
      class="fixed top-0 left-0 flex items-center justify-center w-full h-full">
      <div class="relative w-full h-full max-w-lg  md:h-auto mx-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-white-700">
                  <div class="flex items-start justify-between p-4 rounded-t dark:border-gray-600">
                        <h3 class="mx-auto text-xl font-semibold text-gray-900 bg-white">
                              CREAR CREDENCIAL
                        </h3>
                        <button type="button" (click)="cerrar()"
                              class="top-0 right-0 px-2  rounded-tr rounded-tr-lg absolute text-white bg-red-500 text-sm p-1.5 ml-auto inline-flex items-center hover:bg-red-600 hover:text-white "
                              data-modal-hide="modal_credencial">
                              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                              </svg>
                        </button>
                  </div>
                  <form (ngSubmit)="CrearCredencial()">
                        <div class="antialiased text-gray-900 px-8 ">
                              <div class="max-w-wl mx-auto pb-4 md:max-w-5xl borde">
                                    <p class="text-lg text-gray-700">Por favor, ingrese los datos solicitados:</p>
                                    <div class="mt-4 grid grid-cols-1 md:grid-cols-1 gap-6 items-start">
                                          <div class="grid grid-cols-2 gap-2">
                                                <div class="mb-1">
                                                <label for="countries" class="block text-sm font-medium text-gray-500 dark:text-gray">
                                                      TIPO DE CREDENCIAL</label>
                                                <select id="countries" name="tipo" [(ngModel)]="credencial.tipo"
                                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                      <option value="ACCESO AL AEROPUERTO">ACCESO AL AEROPUERTO</option>
                                                      <option value="PERMISO DE CONDUCIR EN EL ÁREA DE MOVIMIENTO">PERMISO DE CONDUCIR EN EL ÁREA DE MOVIMIENTO</option>
                                                </select>
                                                </div>
                                                <div class="mb-1">
                                                      <label for="password" class="block text-sm font-medium text-gray-500 dark:text-gray">
                                                            NÚMERO DE CREDENCIAL</label>
                                                      <input type="text" name="numero" [(ngModel)]="numero" autocomplete="off"
                                                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                                            required>
                                                </div>
                                                <div class="mb-1"> 
                                                      <label for="base-input" class="block text-sm font-medium text-gray-500 dark:text-gray">
                                                            FECHA DE EMISIÓN</label>
                                                      <input type="date" name="fecha_emision" [(ngModel)]="credencial.fecha_emision"
                                                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                                                </div>
                                                <div class="mb-1">
                                                      <label for="base-input" class="block text-sm font-medium text-gray-500 dark:text-gray">
                                                            FECHA DE VENCIMIENTO</label>
                                                      <input type="date" name="fecha_vencimiento" [(ngModel)]="credencial.fecha_vencimiento"
                                                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                                                </div>
                                                <div class="grid grid-cols-1 gap-2 mt-2 mb-2">
                                                      <button type="submit"
                                                            class="bg-slate-700 hover:bg-slate-800 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full h-10">
                                                            Registrar
                                                      </button>
                                                </div>
                                                <div class="grid grid-cols-1 gap-2 mt-2 mb-2">
                                                      <button data-modal-hide="staticModal" type="button"
                                                            (click)="cerrar()"
                                                            class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full h-10">
                                                            Cancelar
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>

