<form (ngSubmit)="registrarEmpleado()">
    <div class="antialiased text-gray-900 px-6 ">
        <div class="max-w-wl mx-auto px-48 py-12 md:max-w-5xl borde">
            <h2 class="text-2xl font-sans">Registrar Nuevo Empleado</h2>
            <p class="mt-2 text-lg text-gray-500">Por favor, ingrese los datos solicitados:</p>

            <div class="mt-8 grid grid-cols-1 md:grid-cols-1 gap-6 items-start">
                <div class="grid grid-cols-1 gap-6">
                    <input type="text" name="nombre_paterno" placeholder="Nombre Paterno"
                        [(ngModel)]="empleado.nombre_paterno">
                    <input type="text" name="apellido_patenro" placeholder="Apellido Paterno"
                        [(ngModel)]="empleado.apellido_paterno">
                    <input type="text" name="nombre materno" placeholder="Nombre Materno"
                        [(ngModel)]="empleado.nombre_materno">
                    <input type="text" name="apellido_materno" placeholder="Apellido Materno"
                        [(ngModel)]="empleado.apellido_materno">
                    <input type="text" name="rut" placeholder="RUT" [(ngModel)]="empleado.rut">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>