<div class="container mx-auto my-2">
    <div class="overflow-x-auto flex justify-center">
        <h1 class="mt-10 mb-5 text-center font-bold text-5xl bg-gradient-to-br from-white via-white to-transparent bg-clip-text text-transparent">
        PLANIFICACIONES DEL AÑO</h1>
    </div>
    <div
        class="container text-white my-10 mx-auto border-b border-b-4 border-gray-500">
    </div>
</div>

<div>
    <div class="container mx-auto my-10">
        <ng-container *ngIf="existePlanificacion; else SinPlanificaciones">
            <div class=" grid grid-cols-4 gap-6 grid-flow-row auto-rows-auto rounded-md bg-gray-900 p-6">
                <ng-container *ngFor="let planificacion of planificacionAnios.data">
                    <div (click)="SeleccionPlanificacion(planificacion.year)" [ngClass]="{
                                'bg-black': planificacion.mostrar,
                                'dark:bg-gray-800': !planificacion.mostrar
                            }"
                        class="flex flex-col dark:bg-gray-800 border dark:border-gray-900 dark:text-white hover:bg-black transition duration-150 ease-linear rounded-lg p-2 flex justify-center items-center">
                        <div class="flex justify-center my-6">
                                <p class="font-bold text-4xl text-slate-200 leading-4 group-hover:text-indigo-400">
                                    {{planificacion.year}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #SinPlanificaciones>
            <div class="mx-auto flex justify-center px-10">
                <span class="text-4xl font-bold text-gray-200"> NO HAY PLANIFICACIONES REGISTRADAS </span>
            </div>
            <div>
                <button routerLink="/itinerario-aviones"
                    class="mx-auto flex font-medium rounded-lg dark:focus:ring-gray-600 p-5 m-10
                    hover:ease-in-out dark:bg-gray-900 border dark:border-gray-900 dark:text-white shadow-lg shadow-cyan-500/50">
                    <span class="text-white font-bold">GENERAR PLANIFICACIÓN</span>
                </button>
            </div>
        </ng-template>
    </div>
</div>

<div class="container mx-auto pb-20">
    <ng-container *ngIf="efectoCarga">
        <div class="py-10 flex flex-col justifify-center bg-gray-900">
            <div class="mx-auto" aria-label="Loading..." role="status">
                <svg class="h-2/5 w-2/5 mx-auto animate-spin" viewBox="3 3 18 18">
                    <path class="fill-gray-200"
                        d="M12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5ZM3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12Z">
                    </path>
                    <path class="fill-gray-800"
                        d="M16.9497 7.05015C14.2161 4.31648 9.78392 4.31648 7.05025 7.05015C6.65973 7.44067 6.02656 7.44067 5.63604 7.05015C5.24551 6.65962 5.24551 6.02646 5.63604 5.63593C9.15076 2.12121 14.8492 2.12121 18.364 5.63593C18.7545 6.02646 18.7545 6.65962 18.364 7.05015C17.9734 7.44067 17.3403 7.44067 16.9497 7.05015Z">
                    </path>
                </svg>
            </div>
            <div class="p-10 text-3xl text-center text-white font-medium">
                <span>CARGANDO PLANIFICACIONES</span>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="hayPlanificacion && !efectoCarga; else SinPlanificacion">

    
        <div class="bg-gray-900 p-5 rounded-lg">
            <div class="pt-6 pb-10 uppercase text-center font-bold text-4xl bg-gradient-to-br from-white via-white/50 to-transparent bg-clip-text text-transparent">
                <h2>Planificación del Año {{planificacionAnual.data[0].anio}}</h2>
            </div>
            <ng-container *ngIf="planificacionAnual.data.length > 6; else HayMenosDeSeis">

                <div class="mx-6 grid grid-cols-6 gap-y-1 grid-flow-row gap-x-3 pb-3"
                    [style.grid-template-columns]="'repeat(6, 1fr)'">
                    <ng-container *ngFor="let planificacion of planificacionAnual.data; let i = index">
                        <div class="col-span-1">
                            <button (click)="SeleccionMes(planificacion.planificacion_id)"
                                class="w-full h-full text-2xl py-4 tracking-wider text-center text-white uppercase font-medium rounded-md shadow-inner"
                                [ngClass]="{'bg-black': planificacion.mostrar,'dark:bg-gray-800': !planificacion.mostrar}">
                                {{planificacion.mes}}
                            </button>
                        </div>

                        <div *ngIf="i === 5" class="col-span-6"></div>
                    </ng-container>
                </div>

            </ng-container>
            <ng-template #HayMenosDeSeis>
                    <div class="grid grid-auto-rows-auto gap-x-3 pb-3 justify-items-center"
                        [style.grid-template-columns]="'repeat(' + planificacionAnual.data.length + ', 1fr)'">
                        <ng-container *ngFor="let planificacion of planificacionAnual.data">
                            <div class="col-span-1">
                                <button (click)="SeleccionMes(planificacion.planificacion_id)"
                                    class="w-full h-full text-2xl py-4 tracking-wider text-center text-white  py-4 px-10 uppercase font-medium rounded shadow-inner" [ngClass]="{
                                            'bg-black': planificacion.mostrar,'dark:bg-gray-800': !planificacion.mostrar}">
                                    {{planificacion.mes}}
                                </button>
                            </div>
                        </ng-container>
                    </div>
            </ng-template>
            <div class="flex justify-end gap-x-5 text-white font-medium pr-6 pt-10">
                <div>
                    <app-pdf-calendario [planificacion]="planificacionActual">
                    </app-pdf-calendario>
                </div>
                <div>
                    <button (click)="MostrarModalActualizacion()" class="bg-green-600 flex px-3 py-2 rounded-lg">
                        <span>COMENTARIO</span>
                    </button>
                </div>
                <div>
                    <button (click)="BorrarPlanificacion(planificacionActual)" class="bg-red-800 flex px-3 py-2 rounded-lg">
                        <span>BORRAR PLANIFICACIÓN</span>
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-12">
                <div [ngClass]="{'col-span-9': planificacionActual.actualizacion != undefined,'col-span-12': !planificacionActual.actualizacion != undefined}">
                    <ng-container *ngIf="planificacionActual != null">
                        <div [ngClass]="{'grid-cols-3': planificacionActual.actualizacion != undefined,'grid-cols-4': planificacionActual.actualizacion == undefined}" 
                            class="grid gap-6 grid-flow-row auto-rows-auto rounded-lg px-6 pb-6 pt-4">
                            <ng-container *ngFor="let dia of planificacionActual.planificacion | paginate:{
                                id: 'first',
                                itemsPerPage: CantidadPorPagina,
                                currentPage: PaginacionPlanificacion,
                                totalItems: ContadorCalendario};
                                let ix = index">
                                <div class="p-3 grid grid-cols-1 gap-2 bg-gray-800 rounded-lg text-white shadow-inner uppercase">
                                    <div class="p-3 place-content-center relative flex">
                                        <div class="flex">
                                            <div class="text-xl font-bold">{{dia.dia_semana}} {{dia.dia_numero}}</div>
                                            <ng-container *ngIf="dia.itinerario != undefined && dia.itinerario.length > 0">
                                                <button type="button" (click)="MostrarItinerario(dia)" class="top-0 right-0 inline-flex items-center absolute">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-10 h-10 fill-red-600">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                                                    </svg>
                                                </button>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <ng-container *ngFor="let empleado of dia.empleados">
                                        <ng-container *ngIf="dia.comodin != 0 && empleado.turno == dia.comodin;else NohayComodin">
                                            <div class="grid grid-cols-5 px-3 py-1 text-sm font-semibold bg-red-800">
                                                <div class="col-span-3 flex justify-start">{{empleado.nombre}} {{empleado.apellido}}</div>
                                                <div class="col-span-2 flex justify-end">
                                                    <div class="grid-cols-2 flex justify-end uppercase" [ngSwitch]="empleado.turno">
                                                        <div *ngSwitchCase="0" class="uppercase">Libre</div>
                                                        <div *ngSwitchCase="1" class="uppercase">{{planificacionActual.horario.turno1}}</div>
                                                        <div *ngSwitchCase="2" class="uppercase">{{planificacionActual.horario.turno2}}</div>
                                                        <div *ngSwitchCase="3" class="uppercase">{{planificacionActual.horario.turno3}}</div>
                                                        <div *ngSwitchCase="4" class="uppercase">Permiso</div>
                                                        <div *ngSwitchCase="5" class="uppercase">Vacaciones</div>
                                                        <div *ngSwitchDefault  class="uppercase">Otro</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #NohayComodin>
                                            <div class="grid grid-cols-5 px-3 py-1 text-sm font-semibold ">
                                                <div class="col-span-3 flex justify-start uppercase">{{empleado.nombre}} {{empleado.apellido}}</div>
                                                <div class="col-span-2 flex justify-end" [ngSwitch]="empleado.turno">
                                                    <div *ngSwitchCase="0" class="uppercase">Libre</div>
                                                    <div *ngSwitchCase="1" class="uppercase">{{planificacionActual.horario.turno1}}</div>
                                                    <div *ngSwitchCase="2" class="uppercase">{{planificacionActual.horario.turno2}}</div>
                                                    <div *ngSwitchCase="3" class="uppercase">{{planificacionActual.horario.turno3}}</div>
                                                    <div *ngSwitchCase="4" class="uppercase">Permiso</div>
                                                    <div *ngSwitchCase="5" class="uppercase">Vacaciones</div>
                                                    <div *ngSwitchDefault  class="uppercase">Otro</div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngIf="planificacionActual.actualizacion!= undefined">
                    <div class="mt-4 col-span-3 flex flex-col bg-gray-800 rounded-lg px-3 py-3">
                        <div class="flex justify-center bg-gray-900 py-2 rounded-lg mx-1">
                            <h1 class="text-white text-2xl font-bold uppercase">Comentarios</h1>
                        </div>
                        <ng-container *ngIf="planificacionActual.actualizacion!= undefined">
                            <div class="flex flex-col gap-y-4 mt-5">
                            <ng-container *ngFor="let actualizacion of planificacionActual.actualizacion | paginate:{
                            id: 'second',
                            itemsPerPage: CantidadPorPaginaActualizacion,
                            currentPage: PaginacionActualizacion,
                            totalItems: ContadorActualizacion}; 
                            let ix = index">
                                <div class="flex flex-col justify-center py-4 m-1 bg-gray-900 px-3 shadow-inner rounded-md drop-shadow-2xl">
                                    <div class="flex justify-between">
                                        <div>
                                            <p class="font-bold text-lg text-yellow-500 uppercase">{{actualizacion.tipo}}</p>
                                        </div>
                                        <div>
                                            <button (click)="EliminarActualizacion(actualizacion.id, actualizacion.tipo)">
                                                <svg class="h-5 w-5 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                    stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="3 6 5 6 21 6" />
                                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                                                    <line x1="10" y1="11" x2="10" y2="17" />
                                                    <line x1="14" y1="11" x2="14" y2="17" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="flex py-1 text-white text-base font-semibold">
                                        <ng-container *ngIf="actualizacion.reemplazo_nombre && actualizacion.reemplazo_apellido;else NoEsObservacion">
                                            <div>
                                                <p>{{actualizacion.reemplazo_nombre}} {{actualizacion.reemplazo_apellido}} releva a
                                                    {{actualizacion.solicitante_nombre}} {{actualizacion.solicitante_apellido}}
                                                </p>
                                            </div>
                                        </ng-container>
                                        <ng-template #NoEsObservacion>
                                            <div>
                                                <p>{{actualizacion.solicitante_nombre}} {{actualizacion.solicitante_apellido}}</p>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <ng-container *ngIf="actualizacion.fecha_inicio && actualizacion.fecha_termino">
                                        <div class="flex py-1 text-gray-300">
                                            <p class="tracking-normal">De {{actualizacion.fecha_inicio}} hasta {{actualizacion.fecha_termino}}</p>
                                        </div>
                                    </ng-container>

                                    <div class="py-1">
                                        <p class="text-base text-justify text-gray-300">{{actualizacion.descripcion}}</p>
                                    </div>
                                    <div class="flex justify-end text-gray-300 mt-2">
                                        <p class="tracking-widest">{{actualizacion.fecha}}</p>
                                    </div>
                                </div>
                            </ng-container>
                            </div>
                        </ng-container>
                        <div *ngIf="planificacionActual.actualizacion.length > CantidadPorPaginaActualizacion" class="mt-auto flex mx-auto">
                            <pagination-controls id="second" previousLabel="Anterior" nextLabel="Siguiente"
                                (pageChange)="PaginacionActualizacion = $event">
                            </pagination-controls>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="mx-auto flex justify-center">
                <pagination-controls id="first" previousLabel="Anterior" nextLabel="Siguiente"
                    class="pt-3 px-2 bg-gray-800 rounded-lg" (pageChange)="PaginacionPlanificacion = $event">
                </pagination-controls>
            </div>
        </div>
        <div class="bg-gray-900 p-5 rounded-lg mt-10">
            <div class="flex justify-center p-3">
                <h1 class="font-bold p-2 uppercase text-3xl text-slate-200 leading-4"> INFORMACIÓN DE LA PLANIFACIÓN DE {{planificacionActual.estadistica.month}}</h1>
            </div>
            <div class="grid grid-cols-3 gap-4 p-4 ">
                <ng-container *ngFor="let empleado of planificacionActual.estadistica.empleados">
                    <div class="col-span-1 grid grid-cols-3 flex justify-center bg-gray-800 rounded-md border">
                        <div class="col-span-1 px-3 py-5">
                            <div class="bg-black mx-auto w-20 h-20 rounded-full overflow-hidden flex-shrink-0">
                                <!--<img src="{{ empleado.imagen }}" class="w-full h-full object-contain object-center">-->

                                <ng-container *ngIf="empleado.imagen != 'null'; else NoHayImagenLista">
                                    <img [src]="empleado.imagen" class="w-20 h-20 rounded-full object-contain object-center">
                                </ng-container>
                                <ng-template #NoHayImagenLista>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        class="w-20 h-20 text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                </ng-template>
                            </div>
                            <div class="pt-2 text-center">
                                <p class="font-medium uppercase text-slate-200 leading-4">
                                    {{empleado.nombre_paterno}}
                                </p>
                                <p class="font-medium uppercase text-slate-200 leading-4">
                                    {{empleado.apellido_paterno}}
                                </p>
                            </div>
                        </div>
                        <div class="col-span-2 p-3">
                            <div class="grid grid-cols-5 flex">
                                <div class="col-span-3 py-3 pl-8">
                                    <p class="font-bold underline pb-3 px-1 text-slate-200 leading-3">TURNO</p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3">{{planificacionActual.horario.turno1}} </p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3">{{planificacionActual.horario.turno2}} </p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3">{{planificacionActual.horario.turno3}} </p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3">Feriado </p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3">Libre </p>
                                </div>
                                <div class="col-span-2 py-3 pr-8 text-center">
                                    <p class="font-bold underline pb-3 px-1 text-slate-200 leading-3">CANTIDAD</p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3"> {{empleado.turno1}}</p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3"> {{empleado.turno2}}</p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3"> {{empleado.turno3}}</p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3"> {{empleado.feriado}}</p>
                                    <p class="font-medium  p-1 text-slate-200 leading-3"> {{empleado.libre}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        </ng-container>
    <ng-template #SinPlanificacion>
        <!-- NO deberia de llegar aquí -->
    </ng-template>
</div>

<ng-container *ngIf="efectoBorrar">
    <div class="fixed inset-0 bg-gray-800 bg-opacity-70"></div>
</ng-container>

<ng-container *ngIf="efectoBorrar">
    <div class="fixed top-0 left-0 flex items-center justifify-center w-full h-full">
        <div class="relative w-full h-full max-w-lg  md:h-auto mx-auto">
            <div class="pt-10 pb-6 flex flex-col justifify-center bg-gray-900 rounded-lg">
                <div class="mx-auto" aria-label="Loading..." role="status">
                    <svg class="h-2/5 w-2/5 mx-auto animate-spin" viewBox="3 3 18 18">
                        <path class="fill-gray-200"
                            d="M12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5ZM3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12Z">
                        </path>
                        <path class="fill-gray-800"
                            d="M16.9497 7.05015C14.2161 4.31648 9.78392 4.31648 7.05025 7.05015C6.65973 7.44067 6.02656 7.44067 5.63604 7.05015C5.24551 6.65962 5.24551 6.02646 5.63604 5.63593C9.15076 2.12121 14.8492 2.12121 18.364 5.63593C18.7545 6.02646 18.7545 6.65962 18.364 7.05015C17.9734 7.44067 17.3403 7.44067 16.9497 7.05015Z">
                        </path>
                    </svg>
                </div>
                <div class="py-10 pb-8 text-3xl text-center text-white font-medium">
                    <span>BORRANDO PLANIFICACIÓN</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<!-- OPACIDAD EN LA PÁGINA -->
<ng-container 
    *ngIf="horarioService.modalAddActualizacion || horarioService.modalItinerarioPlanificacion">
    <div class="fixed inset-0 bg-gray-800 bg-opacity-70"></div>
</ng-container>


<!-- MODAL ADD ACTUALIZACIÓN -->
<ng-container *ngIf="horarioService.modalAddActualizacion">
    <app-agregarActualizacion
    [planificacion_id]="planificacionActual.planificacion_id"
    [diasPlanificacion]="planificacionActual"
    (recargarPagina)="ngOnInit()"
    >
    </app-agregarActualizacion>
</ng-container>

<!-- MODAL ADD PLANIFICACIÓN-->
<ng-container *ngIf="horarioService.modalAddPlanificacion">
    <app-itinerario-aviones>
    </app-itinerario-aviones>
</ng-container>

<ng-container *ngIf="horarioService.modalItinerarioPlanificacion">
    <app-modal-itinerario
    [itinerario]="itinerarioActual"
    >
    </app-modal-itinerario>
</ng-container>

