<!-- <ul class="meal-list">
  
  <li *ngFor="let data of listaCalendarios | paginate:{ itemsPerPage: 1, currentPage: page }">
    
  <div class="bg-red-200">
    Planificacion de {{data.mes}} del {{data.anio}}
    <li *ngFor="let planificacion of data.planificacion">
      <div class="bg-blue-200">
        {{planificacion.dia_semana}}
      </div>
    </li>
    <li *ngFor="let actualizacion of data.actualizacion">
      {{actualizacion.empleado}} {{actualizacion.tipo_permiso}} {{actualizacion.descripcion}}
    </li>
  </div>
  </li>
</ul>
<div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>  -->



<!-- 
 <div class="container mx-auto my-6 flex flex-row items-start bg-slate-500 rounded-lg"> -->
 

<div class="my-6 lg:my-4 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-2 border-b border-gray-300">
  <div>
    <div class="flex justify-between">
      <div>
        <h4 class="text-2xl font-bold leading-tight text-gray-800 dark:text-gray-500">Calendario Anual</h4>
      </div>
      <div>
        <form>
          <input type="number" min="2020" max="2080" name="search" [(ngModel)]="searchAnio" placeholder="Búsqueda por año"
          class="peer focus:bg-green-800">
          <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm
          ">Por favor, ingrese un año válido.</p>
        </form>
        <button (click)="buscarCalendarioPrueba(searchAnio)">Buscar</button>

      </div>
    </div>
    
    
    
    <ul class="flex flex-col md:flex-row items-start md:items-center text-gray-600 dark:text-gray-400 text-sm mt-3">
      <li class="flex items-center mr-4">
        <div class="mr-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="16" height="16"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9 l6.5 -6.5" />
          </svg>
        </div>
        <ng-container *ngFor="let data of listaCalendarios | paginate:{
          id: 'first',
          itemsPerPage: tableSizeCalendario,
          currentPage: paginationCalendario,
          totalItems: countCalendario}; let i = index">
        <span class="hover:text-blue-600 text-bold">Planificación de {{data.mes}} del {{data.anio}}</span>
        
        </ng-container>
      </li>
      <li class="flex items-center mr-4 mt-4 md:mt-0">
        <div class="mr-1">
          <svg class="icon icon-tabler icon-tabler-trending-up" width="16" height="16" fill="none" viewBox="0 0 24 24"
            strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
            <path strokeLinecap="round" strokeLinejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>

        </div>
        <span>ARIACA</span>
      </li>
      <li class="flex items-center mt-4 md:mt-0">
        <div class="mr-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plane-departure" width="16"
            height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M15 12h5a2 2 0 0 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3z" transform="rotate(-15 12 12) translate(0 -1)" />
            <line x1="3" y1="21" x2="21" y2="21" />
          </svg>
        </div>
        <span class="hover:text-black text-bold">Hoy día es: {{today_is | amDateFormat:'LL'}}</span>
        
      </li>
    </ul>
  </div>
  
</div>

<div class="container mx-auto m-5">
  <div class="flex flex-col lg:flex-row w-full items-start lg:items-center rounded bg-white pt-6">
    <div class="w-full lg:w-5/6 h-screen">
      <div class="grid grid-cols-4 gap-4 grid-flow-row auto-rows-auto rounded-md ">
        <ng-container *ngFor="let data of listaCalendarios | paginate:{
          id: 'first',
          itemsPerPage: tableSizeCalendario,
          currentPage: paginationCalendario,
          totalItems: countCalendario}; let i = index">
          <ng-container *ngFor="let planificacion of data.planificacion ">
          <div class="grid grid-cols-1 gap-2 bg-slate-600 rounded-md m-2 text-white hover:bg-slate-800 hover:scale-110 hover:duration-300 shadow-lg shadow-slate-500/50">
            <div class="m-3 place-content-center relative">
              
                <ng-container *ngIf="planificacion.comodin != 'Libre'">
                  <div class="flex justify-between">
                  <button (click)="alertaComodin(planificacion.comodin)">
                    <span class="flex absolute h-7 w-7 top-0 right-0 -mt-1 -mr-1">
                      <img
                      src="assets/images/icons8-joker-48.png"
                      alt="Logo Argos"
                      width="140"
                      height="100"
                      >
                      <span class="animate-ping absolute inline-flex h-full w-full rounded-md bg-yellow-400 opacity-75"></span>
                      <span class="relative inline-flex rounded-full h-3 w-3 bg-yellow-500"></span>
                    </span>
                    </button>
                   </div>
                </ng-container>

                
              <div class="flex justify-between">
                <div>{{planificacion.dia_semana}} {{planificacion.numero_dia}}</div>
                  <div> 
                    <div *ngIf="planificacion.itinerario[0] != array_vacio[0]" class="inline-block place-item-center">
                      <div class="flex justify-end gap-2">
                          <ng-container *ngFor="let itinerario of planificacion.itinerario">
                              <button (click)="alertaItinerario(itinerario)">
                                <span class="flex relative h-7 w-7 top-0 right-0 -mt-1 -mr-1 ">
                                  <svg width="16" height="16" fill="currentColor"
                                    class="bi bi-airplane-fill animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75" viewBox="0 0 16 16">
                                    <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"/>
                                  </svg>
                                  <svg width="16" height="16" fill="currentColor"
                                  class="bi bi-airplane-fill relative inline-flex rounded-full h-7 w-full bg-red-500" viewBox="0 0 16 16">
                                    <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"/>
                                  </svg>
                                </span>
                              </button> 
                          </ng-container>
                      </div>
                    </div>
                  </div> 
                </div>    
              </div> 

              <ng-container *ngFor="let empleado of planificacion.empleados">
                <div class="flex justify-between m-3 text-xs ">
                  <div class="">{{empleado.nombre}} </div>
                  <div class="">{{empleado.turno}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container> 
      </div>

      <div class="mx-auto m-4">
        <pagination-controls id="first" previousLabel="Prev" nextLabel="Next"
          (pageChange)="paginationCalendario = $event">
        </pagination-controls>
      </div>

    </div>



    <!-- ... Actualizaciones ... -->
    <div class="w-full lg:w-1/4 h-screen">
      <div class="bg-gradient-to-r from-white via-neutral-200 to-white p-4 rounded-md">
        <div class="flex">
          <h1 class="italic text-lg font-semibold hover:text-black m-1">Actualizaciones</h1>
          
        </div>
        <ng-container *ngFor="let data of listaCalendarios| paginate:{
          id: 'first',
          itemsPerPage: tableSizeCalendario,
          currentPage: paginationCalendario,
          totalItems: countCalendario}; let i = index">
          <ng-container *ngFor="let actualizacion of data.actualizacion">
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <p class="text-sm font-bold text-red-700 leading-6">{{actualizacion.tipo_permiso}}</p>
            <p class="text-base font-bold text-blue-900">{{actualizacion.empleado}}</p>
            <p class="text-sm hover:font-semibold">{{actualizacion.descripcion}}</p>
            <p class="text-sm hover:font-semibold">{{actualizacion.fecha | date}}</p>
            <hr>

          </ng-container>
        </ng-container>
         <pagination-controls id="first" previousLabel="Prev" nextLabel="Next"
        (pageChange)="paginationCalendario = $event">
        </pagination-controls>

      </div>
    </div>

  </div>
</div>


<!-- <div class="flex flex-row">
  <table class="table">
    <thead>
      <tr>
        <th>Año</th>
        <th>Mes</th>
        <th>planificacion_id</th>
        <th>Planificacion</th>
        <th>Empleados</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listaCalendarios">
        <td>{{data.anio}}</td>
        <td>{{data.mes}}</td>
        <td>{{data.planificacion_id}}</td>
        <ng-container *ngFor="let planificacion of data.planificacion">
          <td>{{planificacion.dia_semana}}</td>
          <ng-container *ngFor="let empleado of planificacion.empleados">
          <td>{{empleado.nombre}}</td>
        </ng-container>
      </ng-container>

      </tr>
    </tbody>
  </table>
  </div> -->