<div class="container mx-auto my-6 flex flex-row items-start bg-slate-500 rounded-lg">
    <select class="m-3 p-2 border-2 border-slate-400 rounded-lg w-20">
        <option>2022</option>
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
      </select>
      <select class="m-3 p-2 border-2 border-slate-400 rounded-lg w-28">
        <option>Enero</option>
        <option>Febrero</option>
        <option>Marzo</option>
        <option>Abril</option>
        <option>Mayo</option>
        <option>Junio</option>
        <option>Julio</option>
        <option>Agosto</option>
        <option>Septiembre</option>
        <option>Octubre</option>
        <option>Noviembre</option>
        <option>Diciembre</option>
      </select>

<div>
<h2>Get Request using params (https://jsonplaceholder.typicode.com/posts)</h2>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>UserId</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lista of listaCalendarios">
      <td>{{lista.data}}</td>
    </tr>
  </tbody>
</table>
</div>

</div>