<!--
  0: no trabaja;
  1: turno 1; 07:00  a 15:00 
  2 turno 2; 15:00  a 23:00 
  3 turno 3; 23:00  a 07:00 
 -->




 

 <!-- Code block starts -->
<div class="my-6 lg:my-4 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-2 border-b border-gray-300">
  <div>
      <h4 class="text-2xl font-bold leading-tight text-gray-800 dark:text-gray-500">Horario empleados</h4>
      <ul class="flex flex-col md:flex-row items-start md:items-center text-gray-600 dark:text-gray-400 text-sm mt-3">
           <li class="flex items-center mr-4">
              <div class="mr-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9 l6.5 -6.5" />
                  </svg>
              </div>
              <span class="hover:text-blue-600">Planificación generada: {{horarios.data.mes}}</span>
          </li>
          <li class="flex items-center mr-4 mt-4 md:mt-0">
              <div class="mr-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trending-up" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <polyline points="3 17 9 11 13 15 21 7" />
                      <polyline points="14 7 21 7 21 14" />
                  </svg>
              </div>
              <span>ARIACA</span>
          </li>
           <li class="flex items-center mt-4 md:mt-0">
              <div class="mr-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plane-departure" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <path d="M15 12h5a2 2 0 0 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3z" transform="rotate(-15 12 12) translate(0 -1)" />
                      <line x1="3" y1="21" x2="21" y2="21" />
                  </svg>
              </div>
              <span class="hover:text-black">Hoy día es: {{today_is}}</span>
          </li> 
      </ul>
  </div>
   <div class="mt-6 md:mt-0">
      <!-- <button class="mr-3 bg-gray-200 white:bg-slate-600 focus:outline-none transition duration-150 ease-in-out rounded hover:bg-gray-300 text-white white:hover:bg-gray-300 dark:text-indigo-400 px-5 py-2 text-sm">-</button> -->
      <button class="transition focus:outline-none duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm" [routerLink]="['/agregaractualizacion', planificacion_id]">Agregar Actualización</button>
  </div>
  <!-- Code block ends -->
</div>


<div class="container mx-auto">
  <div class="bg-gradient-to-r from-rose-100 to-teal-100 p-4 col-span-full rounded-md hover:text-lg content-center">
    <div class="flex items-center">
      <svg class="h-10 w-10 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M18 15a6 6 0 1 1 -10.853 -3.529c1.926-2.338 4.763-3.327 3.848-8.47 2.355 1.761 5.84 5.38 2.022 9.406-1.136 1.091-.244 2.767 1.221 2.593.882-.105 2.023-.966 3.23-2.3.532.68.532 1.717.532 2.3z" />      </svg>
      {{horarios.data.mes}}, {{horarios.data.anio}}
    </div>
  </div>
  <div class="flex flex-col lg:flex-row w-full items-start lg:items-center rounded bg-white pt-6">
        <div class="w-full lg:w-5/6 h-screen">
          <div class="grid grid-cols-4 gap-4 grid-flow-row auto-rows-auto  rounded-md">
            <ng-container *ngFor="let horario of horarios.data.planificacion | paginate:{
              id: 'first',
              itemsPerPage: tableSizeCalendario,
              currentPage: paginationCalendario,
              totalItems: countCalendario}; let ix = index">
            <div class="grid grid-cols-1 gap-2 bg-[#7E8091] rounded-md m-2 text-white">
              <div class="m-3 flex justify-between">
                <div>{{horario.dia_semana}} {{horario.numero_dia}}</div>
                <ng-container *ngIf="horario.comodin == '23:00 a 07:00'">
<!--                   <span class="flex h-3 w-3">
                    <span class="animate-ping absolute inline-flex rounded-full bg-red-400 opacity-75 ">{{horario.comodin}}</span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
                  </span> -->
                </ng-container>
                <ng-container *ngIf="horario.comodin == '07:00 a 15:00'"></ng-container>
                <ng-container *ngIf="horario.comodin == '15:00 a 23:00'"></ng-container>
              </div>

              <ng-container *ngFor="let empleado of horario.empleados">
                <div class="flex justify-between m-3 text-xs"> 
                    <ng-container *ngIf="horario.comodin == 'Libre'"> 
                        <div class="">{{empleado.nombre}} </div>
                        <div class="">{{empleado.turno}}</div>
                    </ng-container>
                    <ng-container *ngIf="horario.comodin == '23:00 a 07:00'"> 
                        <div class="">{{empleado.nombre}} </div>
                        <div class="justify-end">{{empleado.turno}}</div>
                    </ng-container>




                  <ng-container *ngIf="horario.comodin == '0'">
                    <div>{{empleado.nombre}}</div>
                    <div>{{empleado.turno}}</div>
                  </ng-container>
              </div>
              </ng-container>
            </div>
            

            </ng-container>

          </div>
          <div class="mx-auto m-4">
          <pagination-controls
          id="first"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="paginationCalendario = $event"
          >
          </pagination-controls>
        </div>
        </div>

          <div class="w-full lg:w-1/4 h-screen">
            <div class="bg-gradient-to-r from-white via-neutral-200 to-white p-4 rounded-md">
                <h1 class="italic text-lg font-light hover:text-white m-3">Actualizaciones</h1>
                  <ng-container *ngFor="let empleado of horarios.data.actualizacion.reverse() | paginate:{
                    id: 'second',
                    itemsPerPage: tableSize,
                    currentPage: paginationActualizaciones,
                    totalItems: count}; let i = index">
                    <div class="m-3">
                        <p class="text-sm text-red-700 leading-6">{{empleado.tipo_permiso}}</p>
                        <p class="text-base text-blue-900">{{empleado.empleado}}</p>
                        <p class="text-sm">{{empleado.descripcion}}</p>
                        <p class="text-gray-500">{{empleado.fecha | date}}</p>
                    </div> 
                  </ng-container>
                  <pagination-controls
                  id="second"
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="paginationActualizaciones = $event">
                  </pagination-controls>
            </div> 
          </div>
  </div>
</div>

<!-- s s s s s -->
<!-- <h1 class="bg-red-300" *ngFor="let horario of horarios.data.planificacion">
  {{horario.dia_semana}}
  <h2 class="bg-blue-300" *ngFor="let empleado of horario.empleados">

    xd {{empleado.nombre}}  {{empleado.turno}}
  </h2>
</h1> -->


<!-- ssss s ss s  -->
<!-- <span> horario </span>
<pre>{{ horarios | json}}</pre> -->






<!-- <div class="flex items-center justify-between w-full">
  <div class="flex flex-col lg:flex-row w-full items-start lg:items-center rounded bg-white shadow">
    <div class="w-full lg:w-2/3 h-64 white:bg-gray-500">
      <div class="inline-block bg-white h-80 w-52" *ngFor="let horario of horarios.data.planificacion; let indice = index" >
          <h5 class="mb-1 text-base font-semibold text-gray-400 md:text-xl white:text-white ml-3 px-2"> </h5>
          <p class="text-sm font-normal text-gray-500 white:text-gray-400 px-5">{{indice}}</p>
        <div class="container mx-auto sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 grid-rows-5 w-48">
          <ul class="my-2 space-y-2">
            <li>
              <a href="#" class="flex items-center text-base font-bold text-gray-700 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-[#555971] dark:hover:bg-gray-500 dark:text-white">
              <span class="flex-1 ml-3 whitespace-nowrap ">A. Montaner</span>
              <span class="inline-flex items-center justify-center px-1 py-0.5 text-xs font-medium">{{horario.empleados[0].turno}}</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-[#555971] dark:hover:bg-gray-500 dark:text-white">
              <span class="flex-1 ml-3 whitespace-nowrap">C. Veira</span>
              <span class="inline-flex items-center justify-center px-1 py-0.5 text-xs font-medium">{{horario.empleados[1].turno}}</span>              </a>
            </li>
            <li>
              <a href="#" class="flex items-center text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-[#555971] dark:hover:bg-gray-500 dark:text-white">
              <span class="flex-1 ml-3 whitespace-nowrap">D. Troncoso</span>
              <span class="inline-flex items-center justify-center px-1 py-0.5 text-xs font-medium">{{horario.empleados[2].turno}}</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-[#555971] dark:hover:bg-gray-500 dark:text-white">
              <span class="flex-1 ml-3 whitespace-nowrap">R. Zavala</span>
              <span class="inline-flex items-center justify-center px-1 py-0.5 text-xs font-medium">{{horario.empleados[3].turno}}</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-[#555971] dark:hover:bg-gray-500 dark:text-white">
              <span class="flex-1 ml-3 whitespace-nowrap">R. Zuñiga</span>
              <span class="inline-flex items-center justify-center px-1 py-0.5 text-xs font-medium">{{horario.empleados[4].turno}}</span>
              </a>
            </li>
          </ul> 
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 h-auto white:border-gray-500 lg:h-64 border-t lg:border-t-0 lg:border-r lg:border-l lg:rounded-r black:bg-gray-200 bg-gray-200">
      <app-Actualizaciones></app-Actualizaciones>
    </div>
  </div> -->

<!--   <div class="container mx-auto text-1xl font-extralight">
    <div class="grid grid-cols-3 gap-4 grid-flow-row auto-rows-auto">
      
        <div class="bg-yellow-200 p-4 col-span-full">Diciembre, 2022</div>
        <ng-container *ngFor="let horario of horarios.data.planificacion">
        <div class="bg-green-300 p-4 col-span-2">
          {{horario.dia_semana}} {{horario.numero_dia}}
        </div> 
        <div class="bg-blue-300 p-4"> 
          
        </div> 
      </ng-container>
    </div>
  </div> -->