/* Oficial */
table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    
  }

tr:nth-child(even){
    background-color: #f2f2f2;
}

th, td {
    width: 50%;
    height: 50px;
    /* tables side by side */
    text-align: left;
    padding: 16px
}


/* Tables side by side */

* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix */
.row::after{
    content: "";
    clear: both;
    display: table;
}