.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 20px;
    background-color: darkorange;
}

.parent {
    display: grid;
    border-radius: 10px;
    background-color: #555870;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }

.parent2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(0.5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.colorblanco {
    color: white;
}