<div data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 flex items-center justify-center w-full h-full">
    <div class="relative w-full h-full max-w-lg  md:h-auto mx-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-white-700">
            <div class="flex items-start justify-between rounded-t dark:border-gray-600 pt-4 pb-0 px-4">
                <h3 class="mx-auto text-xl font-semibold text-gray-900 bg-white">
                    CREAR ACTUALIZACIÓN
                </h3>
                <button type="button" (click)="Cerrar()"
                    class="top-0 right-0 px-2  rounded-tr rounded-tr-lg absolute text-white bg-red-500 text-sm p-1.5 ml-auto inline-flex items-center hover:bg-red-600 hover:text-white "
                    data-modal-hide="modal_credencial">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <form #actualizacionForm="ngForm" (ngSubmit)="EnviarActualizacion()">
                <div class="antialised text-gray-900 px-6">
                    <div class="max-w-wl mx-auto pb-4 md:max-w-5xl borde">
                        <div class="mt-4 grid grid-cols-1 md:grid-cols-1 gap-6 items-start">
                            <div class="grid grid-cols-1 gap-2">
                        
                                <label class="block">
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray">SOLICITANTE</span>
                                    <select required
                                        class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:ring focus:border-indigo-300 focus:ring-opacity-50"
                                        name="empleado" [(ngModel)]="actualizacion.rut" (ngModelChange)="FiltrandoSelect()">
                                        <ng-container *ngFor="let empleado of ArrayEmpleadoSolicitante">
                                            <option value="{{empleado.rut}}">{{empleado.nombre_paterno}} {{empleado.apellido_paterno}}</option>
                                        </ng-container>
                                    </select>
                                </label>

                                <label class="block">
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray">DESCRIPCIÓN</span>
                                    <textarea required
                                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-opacity-50"
                                        rows="3" style="height: 78px;" name="descripcion" #descripcion="ngModel"
                                        [(ngModel)]="actualizacion.descripcion">
                                                        </textarea>
                                    <span class="text-rose-500" *ngIf="descripcion.invalid && descripcion.touched">Este campo es
                                        requerido.</span>
                                </label>


                                <div>
                                    <label for="base-input" class="block text-sm font-medium text-gray-500 dark:text-gray">
                                        FECHA DE INICIO</label>
                                    <input type="date" name="fecha_inicio" [(ngModel)]="actualizacion.fecha_inicio"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                                </div>
                                
                                <div>
                                    <label for="base-input" class="block text-sm font-medium text-gray-500 dark:text-gray">
                                        FECHA DE TERMINO</label>
                                    <input type="date" name="fecha_termino" [(ngModel)]="actualizacion.fecha_termino"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                                </div>

                                <label class="block">
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray">TIPO</span>
                                    <select required
                                        class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-opacity-50"
                                        name="tipo_permiso" [(ngModel)]="actualizacion.tipo_id">
                                        <ng-container *ngFor="let tipo of ArrayTipo">
                                            <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                                        </ng-container>
                                    </select>
                                </label>

                                    <label class="block">
                                        <span class="text-sm font-medium text-gray-500 dark:text-gray">REEMPLAZO</span>
                                        <select required
                                            class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:ring focus:border-indigo-300 focus:ring-opacity-50"
                                            name="empleado" [(ngModel)]="actualizacion.reemplazo">
                                            <ng-container *ngFor="let empleado of ArrayEmpleadoReemplazante">
                                                <option value="{{empleado.rut}}">{{empleado.nombre_paterno}} {{empleado.apellido_paterno}}</option>
                                            </ng-container>
                                        </select>
                                    </label>
                            <button type="submit" value="Guardar"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar</button>
            
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>