<form #actualizacionForm="ngForm" (ngSubmit)="enviarActualizacion()">
  <div class="antialised text-gray-900 px-6">
    <div class="max-w-wl mx-auto py-12 md:max-w-2xl">
      <h2 class="text-2xl font-sans">Agregar Actualización</h2>
      <p class="mt-2 text-lg text-gray-500">Ingrese los datos solicitados</p>
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6 items-start">
        <div class="grid grid-cols-1 gap-6">

          <label class="block">
            <span class="text-gray-700">Tipo de permiso</span>
            <select class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-opacity-50" id="permiso" name="tipo_permiso" #tipo_permiso="ngModel" [(ngModel)]="actualizacion.tipo_permiso">
              <option>Permiso</option>
              <option>Cambio de Turno</option>
              <option>Comodín</option>
              <option>Urgencia</option>
              <option>Otro</option>
            </select>
            <span class="text-rose-500" *ngIf="tipo_permiso && tipo_permiso.valid && tipo_permiso.touched">Este campo es requerido.</span>
          </label>

          <label class="block">
            <span class="text-gray-700">Empleado solicitante</span>
            <select class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:ring focus:border-indigo-300 focus:ring-opacity-50" name="empleado" #empleado="ngModel" [(ngModel)]="actualizacion.empleado">
              <option>A. Montaner</option>
              <option>C. Veira</option>
              <option>D. Troncoso</option>
              <option>R. Zavala</option>
              <option>R. Zuñiga</option>
            </select>
            <span class="text-rose-500" *ngIf="empleado && empleado.valid && empleado.touched">Este campo es requerido.</span>
          </label>


          
          <label class="block">
            <span class="text-gray-700">Descripción del permiso</span>
            <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-opacity-50" rows="3" style="height: 78px;" name="descripcion" #descripcion="ngModel" [(ngModel)]="actualizacion.descripcion">
            </textarea>
            <span class="text-rose-500" *ngIf="descripcion && descripcion.valid && descripcion.touched">Este campo es requerido.</span>
          </label>

          <label class="block">
            <span class="text-gray-700">Fecha del permiso: </span>
           {{CurrentDate | date:'dd-MM-yyyy'}}
          </label>

          <button type="submit" value="Guardar"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar</button>

        </div>
      </div>
    </div>
  </div>
</form>

<span> Tiempo </span>
<pre>{{actualizacion | json }}</pre>