<div class="fixed top-0 left-0 flex items-center justify-center w-full h-full">
      <div class="relative w-full h-full max-w-lg  md:h-auto mx-auto">
            <div class="absolute">
                  <div class="bg-white flex flex-col gap-y-5">
                        <div class="flex items-start justify-between px-4 pt-5 rounded-t dark:border-gray-600">
                              <h3 class="mx-auto text-xl font-semibold text-gray-900 bg-white">
                                    {{itinerario.dia_semana}} {{itinerario.dia_numero}}
                              </h3>
                        </div>
                        <div class="flex flex-col px-20">
                              <div *ngFor="let iti of itinerario.itinerario" class="flex justify-between font-bold">
                                    <ng-container [ngSwitch]="iti.turno">
                                          <ng-container *ngIf="iti.falta > 1; else faltaUnEmpleado">
                                                <p *ngSwitchCase="1">Faltan {{iti.falta}} empleados para el turno de las {{horario.turno1}}</p>
                                                <p *ngSwitchCase="2">Faltan {{iti.falta}} empleados para el turno de las {{horario.turno2}}</p>
                                                <p *ngSwitchCase="3">Faltan {{iti.falta}} empleados para el turno de las {{horario.turno3}}</p>
                                          </ng-container>
                                          <ng-template #faltaUnEmpleado>
                                                <p *ngSwitchCase="1">Falta {{iti.falta}} empleado para el turno de las {{horario.turno1}}</p>
                                                <p *ngSwitchCase="2">Falta {{iti.falta}} empleado para el turno de las {{horario.turno2}}</p>
                                                <p *ngSwitchCase="3">Falta {{iti.falta}} empleado para el turno de las {{horario.turno3}}</p>
                                          </ng-template>
                                    </ng-container>
                                    <!--<p>FALTA {{iti.falta}} EMPLEADOS PARA EL TURNO {{iti.turno}}</p>-->
                              </div>
                        </div>
                        <div class="flex justify-center pb-2">
                              <button type="button" (click)="Cerrar()"
                                    class="bg-green-600 hover:bg-green-700 px-3 py-1.5 text-white font-bold">
                                    OK
                              </button>
                        </div>
                  </div>
            </div>
      </div>
</div>