<div>
      <h1 class="my-2 text-left font-bold text-lg lg:text-3xl bg-gradient-to-br from-white via-white/50 to-transparent bg-clip-text text-transparent py-2">ESTADÍSTICAS</h1>
      <hr class="my-2 border border-black-700">
      <ng-container *ngIf="planificacionActual != null; else SinEstadistica">
            <ng-container *ngFor="let estadistica of planificacionActual.planificacion.reverse()">
                  <ng-container *ngIf="estadistica[0]">
                        <div class="bg-red-500">
                              {{estadistica[0].anio}}
                        </div>
                  </ng-container>
                  <div>

                  </div>
                  <div class="grid grid-cols-3 gap-2 my-2">
                        <ng-container *ngFor="let element of estadistica">
                              <div class="col-span-1 bg-blue-500">
                                    <p>mes: {{element.mes}}</p>
                                    <p>turno 1: {{element.turno_1}}</p>
                                    <p>turno 2: {{element.turno_2}}</p>
                                    <p>turno 3: {{element.turno_3}}</p>
                                    <p>feriado trabajado: {{element.feriado}}</p>
                                    <p>dias libres: {{element.libre}}</p>
                              </div>
                        </ng-container>
                  </div>
                  
            </ng-container>
      </ng-container>
      <ng-template #SinEstadistica>
            <p> Este empleado no tiene registro de planificación</p>
      </ng-template>
</div>
