<div class="px-5">
      <h1 class="text-left font-bold text-lg lg:text-3xl bg-gradient-to-br from-white via-white/50 to-transparent bg-clip-text text-transparent py-2">ESTADÍSTICAS</h1>
      <hr class="my-2 border border-black-700">
      <ng-container *ngIf="planificacionActual != null; else SinEstadistica">
            <ng-container *ngFor="let estadistica of planificacionActual.planificacion.reverse()">
                  <ng-container *ngIf="estadistica[0]">
                        <div class="font-bold text-2xl text-slate-200 leading-4 p-2">
                              {{estadistica[0].anio}}
                        </div>
                  </ng-container>
                  <div class="grid grid-cols-3 gap-2 my-2">
                        <ng-container *ngFor="let element of estadistica">
                              <div class="col-span-1 bg-gray-800 text-white p-3 rounded-lg shadow-lg">
                                    <div class="flex justify-center uppercase font-bold">
                                          {{element.mes}}
                                    </div>
                                    <div class="grid grid-cols-2">
                                          <div class="col-span-1 ">
                                                <p>Mañana: </p>
                                                <p>Tarde: </p>
                                                <p>Noche: </p>
                                                <p>Feriado trabajados: </p>
                                                <p>Dias libres: </p>
                                          </div>
                                          <div class="col-span-1 ">
                                                <p class="text-end">{{element.turno_1}}</p>
                                                <p class="text-end">{{element.turno_2}}</p>
                                                <p class="text-end">{{element.turno_3}}</p>
                                                <p class="text-end">{{element.feriado}}</p>
                                                <p class="text-end">{{element.libre}}</p>
                                          </div>
                                    </div>
                              </div>
                        </ng-container>
                  </div>
                  
            </ng-container>
      </ng-container>
      <ng-template #SinEstadistica>
            <div class="flex justify-center p-10 text-white text-xl text-center font-medium">
                  <span>NO HAY REGISTRO DE PLANIFICACIÓN</span>
            </div>
      </ng-template>
</div>
