<div class="container">

    <div class="h-12 bg-[#94a3b8] text-white">
      <div class="flex justify-between">
        <div>
          <a [routerLink]="['/']">
            <img
            src="assets/images/waki-solar-logo-02.png"
            alt="Logo Waki Labs"
            width="140"
            height="100"
            >
          </a>
        </div>
        <div class="h-full">
          <button class="border-2 border-stone-50 rounded text-black mt-2 mr-2" routerLink="/schedule">Generar Horario</button>
       </div>
      </div>
    </div>
</div>