<div class="2xl:container 2xl:mx-auto">
  <div class="bg-white rounded shadow-lg py-5 px-7">
    <nav class="flex justify-between">
      <div class="flex items-center lg:pr-16 pr-6">
        <a [routerLink]="['/']">
        <img
        src="assets/images/ARGOS.png"
        alt="Logo Argos"
        width="140"
        height="100"
        >
        </a>
        <h2 class="font-normal text-2xl leading-6 text-gray-800"></h2>
      </div>

      <ul class="hidden md:flex flex-auto space-x-2">
        <li (click)="isToggle = 1" [ngClass]="'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded ' + (isToggle === 1 ? 'text-white bg-slate-600' : 'text-gray-600 border border-white bg-gray-50')" [routerLink]="['/']">Home</li>
        <li (click)="isToggle = 2" [ngClass]="'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded ' + (isToggle === 2 ? 'text-white bg-slate-600' : 'text-gray-600 border border-white bg-gray-50')" [routerLink]="['/itinerario-aviones']">Generar Horario</li>
        <li (click)="isToggle = 3" [ngClass]="'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded ' + (isToggle === 3 ? 'text-white bg-slate-600' : 'text-gray-600 border border-white bg-gray-50')" [routerLink]="['/schedule']">Horario</li>
        <li (click)="isToggle = 4" [ngClass]="'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded ' + (isToggle === 4 ? 'text-white bg-slate-600' : 'text-gray-600 border border-white bg-gray-50')" [routerLink]="['/allschedules']">Calendario anual</li>
        <li (click)="isToggle = 5"
          [ngClass]="'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded ' + (isToggle === 5 ? 'text-white bg-slate-600' : 'text-gray-600 border border-white bg-gray-50')"
          [routerLink]="['/allEmpleados']" style="position: relative;">
          <ng-container *ngIf="empleadoService.vencimientoCredencial">
            <span style="padding-right: 1rem;">Empleados</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              class="w-6 h-6" style="position: absolute; top: 0; right: 0;">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
            </svg>
          </ng-container>
          <ng-container *ngIf="!empleadoService.vencimientoCredencial">
            Empleados
          </ng-container>

        </li>


      </ul>
    </nav>
  </div>
</div>